:root{
    --red: #ff383f;
    --green: #67e672;
}

body{
    background-color: #111A23;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav span{
    margin: 0;
    padding: 0;
}

nav h1{
    font-size: 32px;
    color: white;
}

nav .red{
    color: #ff383f;
}

nav .blue{
    color: #2121d1;
}

.quizContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    min-width: 50%;
    width: fit-content;
    height: 60vh;
    background-color: #0e1319;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px 10px #0d141a;
}

.letterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin-bottom: auto;
    background-color: #111A23;
    border-radius: 10px;
    border: solid 1px white;
    transition: border .3s ease-in-out;
}

.letterContainer h5{
    color: white;
    font-size: 64px;
}

.errMsg{
    color: var(--red);
}

.inputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: fit-content;
    height: fit-content;
    background-color: #111A23;
    padding: 0.25em;
    border-radius: 5px;
}

.inputContainer button{
    background: none;
    border: none;
    cursor: pointer;
}

.inputContainer button:hover{
    filter: invert(76%) sepia(47%) saturate(518%) hue-rotate(69deg) brightness(95%) contrast(95%);
}

.inputContainer img{
    height: 24px;
    width: 24px;
    margin: .5rem;
    filter: invert(53%) sepia(0%) saturate(222%) hue-rotate(165deg) brightness(85%) contrast(86%);
}

.inputContainer input{
    font-size: 24px;
    padding: .5rem;
    background: none;
    border: none;
    color: #757575;
    border-right: solid 1px #757575;
}

.inputContainer input:focus{
    outline: none;
}

